<!-- gallery -->

<section>
    <div class="container">
      <h1 class="text-center pt-5">Gallery</h1>
      <hr class="w-25 pt-5">
  
      <div class="row mb-5">
        
        <div class="col-lg-4 col-md-4 mb-4">
          <img src="../../assets/images/slider.jpg" class="img-fluid">
        </div>
  
        <div class="col-lg-4 col-md-4 mb-4">
          <img src="../../assets/images/slider.jpg" class="img-fluid">
        </div>
  
        <div class="col-lg-4 col-md-4 mb-4">
          <img src="../../assets/images/slider.jpg" class="img-fluid">
        </div>
  
        <div class="col-lg-4 col-md-4 mb-4">
          <img src="../../assets/images/slider.jpg" class="img-fluid">
        </div>
  
        <div class="col-lg-4 col-md-4 mb-4">
          <img src="../../assets/images/slider.jpg" class="img-fluid">
        </div>
  
        <div class="col-lg-4 col-md-4 mb-4">
          <img src="../../assets/images/slider.jpg" class="img-fluid">
        </div>
  
        <div class="col-lg-4 col-md-4 mb-4">
          <img src="../../assets/images/slider.jpg" class="img-fluid">
        </div>
  
        <div class="col-lg-4 col-md-4 mb-4">
          <img src="../../assets/images/slider.jpg" class="img-fluid">
        </div>
  
        <div class="col-lg-4 col-md-4 mb-4">
          <img src="../../assets/images/slider.jpg" class="img-fluid">
        </div>
  
      </div>
    </div>
  </section>
  
  <!-- gallery ends -->
