<!-- services -->

<section>

    <div class="container">
      <h1 class="text-center pt-5">Services</h1>
      <hr class="w-25 pt-5">
  
      <div class="row text-center mb-5">
        <div class="col-lg-4">
          <div class="card">
            <img class="card-img-top" src="../../assets/images/slider.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        </div>
  
  
        <div class="col-lg-4">
          <div class="card">
            <img class="card-img-top" src="../../assets/images/slider1.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        </div>
  
  
        <div class="col-lg-4">
          <div class="card">
            <img class="card-img-top" src="../../assets/images/slider2.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    
  
  </section>
  
  <!-- services ends -->


  <!-- contact -->

<section class="bg-primary mb-5">

    <article class="text-center text-white py-5">
      <div>
        <h3 class="display-4">+91 123456789</h3>
        <p>If you want best service Call us now</p>
        <button class="btn btn-warning">Contact Now</button>
      </div>
    </article>
  </section>
  
  <!-- contact ends -->